/****  CSS TO MAKE THINGS LOOK PRETTY  ****/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

/*************************
GENERAL
**************************/

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  max-width: 95%;
}

#wrapper {
max-width: 95%;
margin: 0 auto;
padding: 0 5%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/*************************
HEADING
**************************/

header {
  margin-bottom: px;
  border-radius: 5px;
  text-align: center;
}

.logo {
  margin 0;
}

h1 {
text-align: center;
font-family: 'Roboto', sans-serif;
margin: 0 auto;
font-size: 1.75em;
line-height: 0.8cm;
font-weight: 700;
}

h2 {
  text-align: center;
  font-size: 0.65cm;
  margin: -5px 0 0;
  font-weight: 500;
}

/*************************
NAVIGATION
**************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin-left: 0 10px;
  margin-right: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 300;
  padding: 15px 10px;
}

/*************************
FOOTER
**************************/

footer {
  clear: both;
  font-size: .80em;
  padding-top: 50px;
}

.social-icon {
  width: 1.6em;
  height: 1.6em;
  margin: 0 5px;
}

/*************************
PAGE: HOME
**************************/

#wrapper {
  margin-bottom: 10px;
  border-radius: 3px;
  text-align: center;
} 

section {
  margin: 0;
  padding: 0;
}

aside {
  float: right;
  margin-bottom: 10px;
  border-radius: 3px;
}

.sidebar_img {
  margin 0;
}

aside p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
}

/*************************
PAGE: 
**************************/

/*************************
PAGE: 
**************************/

/*************************
PAGE: 
**************************/

/*************************
COLORS 
**************************/
/* site body  */
body {

}

/* header  */
header h1 {
  color: #black;
}

header h2 {
  color: #03B4B3;
}

/* nav background on mobile */
nav {
  color: #03B4B3;
}

/* links  */
a {
  color: #03B4B3;
}

/* selected nav link  */
nav a.selected, nav a:hover {
  color: #fff;
}

section {
  color: #03B4B3;
}

.blog_articles {
  padding: 5em;
}

aside {
  color: #03B4B3;
}

aside p {
  color: black;
}

footer {
  color: #03B4B3;
}






























