/****  CSS TO MAKE THINGS LOOK PRETTY  ****/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

/*************************
GENERAL
**************************/

html {
  position: relative;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

#wrapper {
  min-height: 800px;
  margin: 0px;
  padding: 0px;
  display: -webkit-flex;
  display:         flex;
  -webit-flex-flow: row;
         flex-flow: row;
}

a {
  text-decoration: none;
}

img {
    
}

/*************************
HEADING
**************************/

header, footer {
 display: block;
 margin: 4px;
 padding: 5px;
 min-height: 50px;
 border: 1px solid #eebb55;
 border-radius: 7pt;
 background: #ffeebb;
 text-align: center;
}

.logo {
 
}

header h1 {
font-size: 3em;
font-weight: 300;
}

header h2 {
  font-size: 1.25em;
  font-weight: 300;
}

.social-icon {
  width: 1.6em;
  height: 1.6em;
  margin: 0 5px;
}

/*************************
NAVIGATION
**************************/

nav {
  text-align: center;
  margin: 4px;
  padding: 5px;
  border: 1px solid #cccc33;
  border-radius: 7pt;
  background: #dddd88;
  -webkit-flex: 3 1 60%;
          flex: 3 1 60%;
  -webkit-order: 1;
          order: 1;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 300;
  padding: 15px 10px;
}

/*************************
FOOTER
**************************/

/*footer {
  text-align: center;
  font-size: .90em;
  font-weight: 300;
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 100px;
}*/

/* .social-icon {
  width: 1.6em;
  height: 1.6em;
  margin: 0 5px;
}*/

/*************************
PAGE: HOME
**************************/

section {
    margin: 4px;
    padding: 5px;
    border: 1px solid #cccc33;
    border-radius: 7pt;
    background: #dddd88;
    -webkit-flex: 3 1 60%;
            flex: 3 1 60%;
    -webkit-order: 2;
            order: 2;
}

aside {
   margin: 4px;
   padding: 5px;
   border: 1px solid #8888bb;
   border-radius: 7pt;
   background: #ccccff;
   -webkit-flex: 1 6 20%;
           flex: 1 6 20%;
   -webkit-order: 3;
           order: 3;
}

.sidebar_img {

}

aside p {

}

/*************************
PAGE: 
**************************/

/*************************
PAGE: 
**************************/

/*************************
PAGE: 
**************************/

/*************************
COLORS 
**************************/
/* site body  */
body {

}

/* header  */
header h1 {
  color: #black;
}

header h2 {
  color: #03B4B3;
}

/* nav background on mobile */
nav {
  color: #03B4B3;
}

/* links  */
a {
  color: #03B4B3;
}

/* selected nav link  */
nav a.selected, nav a:hover {
  color: #fff;
}

section {
  color: #03B4B3;
}

aside {
  color: #03B4B3;
}

aside p {
  color: black;
}

footer {
  color: #03B4B3;
}






























