/****  RESPONSIVE Single Column LAYOUTv****/

@media screen and (mix-width: 480px) {
 /*************************
  TWO COLUMN LAYOUT
  **************************/

 /*************************
 PAGE: PORTFOLIO
  **************************/  
 /* 
  3 * 5% = 15%
  100% - 15% =85%
  85 /3 = 28.333333
  */  

/*************************
  ABOUT
 **************************/
}


/****  Desktops  ****/

@media screen and (min-width: 600px) {
  
  /*************************
  HEADER
  **************************/

  nav {
    float: right;
    font-size: 1.125em;
    text-align: right;
    width: 40%;
  } 
    
  nav li {
  
  }
    
  nav a {
  
  }

  .logo {
    float: left;
    margin-left: 5%;
    width: 15%;
  }  

  header {
    border-bottom: 5px solid black;
    margin: 60px;
  }    
    
  header h1 {
    font-weight: 700;
    font-size: 2em;
  } 
    
  header h2 {
    font-weight: 400;
    font-style: italic;
    font-size: 1.5em;
  }

  section {
    width: 50%;
  }

  aside {
    float: left;
    width: 20%;
  }

  footer {
    clear: both;
  }


}





































