/****  RESPONSIVE Single Column LAYOUTv****/

@media screen and (mix-width: 480px) {

}


/****  Desktops  ****/

@media screen and (min-width: 600px) {
  
  /*************************
  HEADER
  **************************/
  html {height: 100%;}

  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  } 

  .logo {
    float: left;
    margin-left: 5%;
    width: 15%;
  }  

 h1 {
    font-weight: 700;
    font-size: 2em;
  } 
    
  h2 {
    font-weight: 400;
    font-style: italic;
    font-size: 1.5em;
  }

  header {
    border-bottom: 5px solid black;
    margin: 60px;
  }

  .content {
    float: left;
    width: 10%;
  }

  section {
    width: 90%;
    margin-left: 90px;
  }

  aside {
    float: right;
    width: 10%;
  }

  footer {
    width: 100%;
}


}





































